*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  margin: 0 calc(50% - 550px);
}
.section_decor{
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.4);
  color: aliceblue;
}